<footer>
  <div class="container-padded">
    <div class="footer-content">
      <div class="footernav">
        <a href="/pages/about/">About</a>
        <a href="/pages/contact/">Contact</a>
        <a href="/pages/privacy/">Privacy Policy</a>
        <a href="/pages/terms/">Terms of Service</a>
      </div>
      <p>
        <small>
          &copy; {{ page.date | date("yyyy") }} <strong>{{ site.siteName }}</strong>. 
          All rights reserved.
        </small>
      </p>
    </div>
  </div>
</footer>