<header>
  <div class="container-padded">
   <div class="logo" aria-label="{{ site.siteName }}">
     <a href="/" class="brand-link">
       <span class="brand">CalcTools</span> <span class="ai">AI</span>
     </a>
   </div>
  </div>
</header>